# mcradar
API_KEY="1234567890"
APP_WORKERS="1024"
APP_TIMEOUT_MS="500"
APP_GUI_PORT="3000"

# postgres
POSTGRES_HOST="mcradar-db"
POSTGRES_PASSWORD="very-safe-very-secure"
POSTGRES_MAX_CONNECTIONS="2048"
POSTGRES_DB="postgres"